<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.sdzee.servlets.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ad</servlet-name>
        <servlet-class>com.sdzee.servlets.AdServlets</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CityServlets</servlet-name>
        <servlet-class>com.sdzee.servlets.CityServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>com.sdzee.servlets.Connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.sdzee.servlets.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ad</servlet-name>
        <url-pattern>/ad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityServlets</servlet-name>
        <url-pattern>/ajaxcity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
